# K-Pop Exploratory Data Analysis

4 csv files and what their columns mean: <br><br>


- kpop_music_videos.csv:

    - Date - Release date of the Music Video <br>
    - Artist - The Artist <br>
    - Song Name - Title of the Music Video <br>
    - Korean Name - Korean Title of the MV <br>
    - Director - Director of the music video <br>
    - Video - URL to the MV <br>
    - Type - Genre of the Music Video <br>
    - Release - Major / Minor / Japanese Release <br>

<br>

- kpop_idols_girl_groups.csv:

    - Name - Name of the girl group <br>
    - Short - Short Name of the girl group <br>
    - Korean Name - Korean Name of the girl group <br>
    - Debut - When the girl group Debuted <br>
    - Company - Company the girl group is under <br>
    - Members - No. of members in the GG <br>
    - Fanclub Name - Fanclub Name of the GG <br>
    - Active - Is the GG active? <br>

<br>

- kpop_idols_boy_groups.csv:
    - Name - Name of the boy group <br>
    - Short - Short Name of the boy group <br>
    - Korean Name - Korean Name of the boy group <br>
    - Debut - When the boy group Debuted <br>
    - Company - Company the boy group is under <br>
    - Members - No. of members in the BG <br>
    - Fanclub Name - Fanclub Name of the BG <br>
    - Active - Is the BG active? <br>
    
<br>

- kpop_idols.csv
    - Stage Name - Idol's stage name
    - Full Name - Idol's Full Name
    - Korean Name - Idol's Korean Name
    - K. Stage Name - Idol's Korean Stage Name
    - Date of Birth - Idol's DoB
    - Group - Group the Idol is from
    - Country - Where the idol operates
    - Birthplace - Idol's Origin Country
    - Other Group - Other groups the Idol belongs to
    - Gender - Idol's Gender

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Importing datasets

In [5]:
mv = pd.read_csv("kpop_music_videos.csv")
gg = pd.read_csv("kpop_idols_girl_groups.csv")
bg = pd.read_csv("kpop_idols_boy_groups.csv")
idols = pd.read_csv("kpop_idols.csv")

In [6]:
# Music Videos
mv.head()

,Date,Artist,Song Name,Korean Name,Director,Video,Type,Release
0,2020-05-22,Agust D,Daechwita,대취타,NaN,https://youtu.be/qGjAWJ2zWWI,Boy Solo,Major
1,2020-05-21,Yubin,yaya (Me Time),넵넵,NaN,https://youtu.be/BJD0arHF_5c,Girl Solo,Major
2,2020-05-21,OnlyOneOf,Angel (prod. GRAY),NaN,NaN,https://youtu.be/vVTo8p72FxQ,Boy,Major
3,2020-05-20,Ryu Sujeong,Tiger Eyes,NaN,NaN,https://youtu.be/aE6curPGQRY,Girl Solo,Major
4,2020-05-20,Crush,Mayday feat. Joy (Red Velvet),자나깨나,NaN,https://youtu.be/29ycT6fA-Rs,Boy Solo,Major

In [7]:
# Girl Groups
gg.head()

,Name,Short,Korean Name,Debut,Company,Members,Orig. Memb.,Fanclub Name,Active
0,(G)I-DLE,NaN,(여자)아이들,2018-05-02,Cube,6,6,NaN,Yes
1,15&,NaN,피프틴앤드,2012-10-05,JYP,2,2,NaN,No
2,2EYES,NaN,투아이즈,2013-07-20,SidusHQ,4,5,NaN,No
3,2NE1,NaN,투애니원,2009-05-06,YG,4,4,Blackjack,No
4,3YE,NaN,써드아이,2019-05-21,GH,3,3,NaN,Yes

In [8]:
# Boy Groups
bg.head()

,Name,Short,Korean Name,Debut,Company,Members,Orig. Memb.,Fanclub Name,Active
0,100%,NaN,백퍼센트,2012-09-18,TOP Media,4,7,Perfection,Yes
1,14U,NaN,원포유,2017-04-17,BG,14,14,NaN,Yes
2,1the9,NaN,원더나인,2019-02-09,MBK,9,9,NaN,Yes
3,24K,NaN,투포케이,2012-09-06,Choeun,8,6,24U,Yes
4,2AM,NaN,투에이엠,2008-06-21,"JYP, Big Hit",4,4,I Am,No

In [10]:
# idols
idols.head()

,Stage Name,Full Name,Korean Name,K. Stage Name,Date of Birth,Group,Country,Birthplace,Other Group,Gender
0,A.M,Seong Hyunwoo,성현우,에이엠,1996-12-31,Limitless,South Korea,NaN,NaN,M
1,Ace,Jang Wooyoung,장우영,에이스,1992-08-28,VAV,South Korea,NaN,NaN,M
2,Aeji,Kwon Aeji,권애지,애지,1999-10-25,Hashtag,South Korea,Daegu,NaN,F
3,AhIn,Lee Ahin,이아인,아인,1999-09-27,MOMOLAND,South Korea,Wonju,NaN,F
4,Ahra,Go Ahra,고아라,아라,2001-02-21,Favorite,South Korea,Yeosu,NaN,F

In [11]:
# mv information

mv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3772 entries, 0 to 3771
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         3772 non-null   object
 1   Artist       3772 non-null   object
 2   Song Name    3771 non-null   object
 3   Korean Name  2786 non-null   object
 4   Director     627 non-null    object
 5   Video        3772 non-null   object
 6   Type         3772 non-null   object
 7   Release      3759 non-null   object
dtypes: object(8)
memory usage: 235.9+ KB

In [12]:
# gg information

gg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152 entries, 0 to 151
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          152 non-null    object
 1   Short         21 non-null     object
 2   Korean Name   152 non-null    object
 3   Debut         152 non-null    object
 4   Company       152 non-null    object
 5   Members       152 non-null    int64
 6   Orig. Memb.   152 non-null    int64
 7   Fanclub Name  46 non-null     object
 8   Active        152 non-null    object
dtypes: int64(2), object(7)
memory usage: 10.8+ KB

In [14]:
#  bg information

bg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147 entries, 0 to 146
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          147 non-null    object
 1   Short         18 non-null     object
 2   Korean Name   147 non-null    object
 3   Debut         147 non-null    object
 4   Company       146 non-null    object
 5   Members       147 non-null    int64
 6   Orig. Memb.   147 non-null    int64
 7   Fanclub Name  61 non-null     object
 8   Active        147 non-null    object
dtypes: int64(2), object(7)
memory usage: 10.5+ KB

In [15]:
# idols information

idols.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1310 entries, 0 to 1309
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Stage Name     1310 non-null   object
 1   Full Name      1304 non-null   object
 2   Korean Name    1304 non-null   object
 3   K. Stage Name  1309 non-null   object
 4   Date of Birth  1310 non-null   object
 5   Group          1219 non-null   object
 6   Country        1310 non-null   object
 7   Birthplace     689 non-null    object
 8   Other Group    122 non-null    object
 9   Gender         1310 non-null   object
dtypes: object(10)
memory usage: 102.5+ KB